.sidebar {
    width: 200px;
    background-color: #5d01b9ca;
    padding: 10px;
        
}

.sidebar ul {
    
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    font-size: x-large;
    font-weight: bold;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding: 8px;
        
        /* background-color: red; */
    }
    .sidebar ul{
        display: flex;
        gap: 30px;
    }
}
